APP_ENV=dev
APP_SECRET=

# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=sae501
MYSQL_USER=
MYSQL_PASSWORD=

DATABASE_URL=mysql://USER:PASSWORD@mysql:3306/sae501?serverVersion=8.4&charset=utf8mb4

CORS_ALLOW_ORIGIN=http://localhost:3000

MAILER_DSN=
MAILER_FROM=noreply@exemple.fr

JWT_SECRET_KEY=/app/config/jwt/private.pem
JWT_PUBLIC_KEY=/app/config/jwt/public.pem
JWT_PASSPHRASE=