# Copier ce fichier en .env et remplir les valeurs

APP_ENV=dev
APP_SECRET=           # openssl rand -hex 32

MONGODB_URL=mongodb://mongo:27017
MONGODB_DB=myapp

CORS_ALLOW_ORIGIN=http://localhost:3000

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=changeme
