parameters:
    level: 5
    paths:
        - src
    ignoreErrors:
        - '#Property App\\Entity\\User::\$id \(int\|null\) is never assigned int#'
        - '#Method App\\Kernel::getAllowedEnvs\(\) is unused#'
        - '#Property App\\Entity\\Association::\$id \(int\|null\) is never assigned int#'